:root {}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;

}

.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    width: 1440px;
    max-width: 100%;
    padding: 30px 30px;
    border-bottom: rgb(214, 209, 209) solid 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.navbar-links {
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#navbar-mobile {
    display: none;
}

.nav-item a {
    margin: 0 30px 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    color: #333;
    padding-top: 38px;
    padding-bottom: 38px;


}

.nav-item a:hover {
    border-bottom: #000000 solid 2px;
}

.active a {
    border-bottom: #000000 solid 2px;
}


/* about */
.about {}

.about img {
    display: block;
    margin: 60px auto;
    width: 100%;
    height: auto;
}

.about-text {
    text-align: center;
    width: min(854px, 100%);
    margin: 0 auto;
}

.about-text h1 {
    font-size: 5.4rem;
    margin-bottom: 30px;
}

.about-text p {
    font-size: 2rem;
    width: 592px;
    margin: 0 auto;
}

.about hr {
    width: 50%;
    margin: 30px auto;
    height: 2px;
    color: #000000;
    background-color: #000000;
}

/* articles */

.articles {
    width: 50%;
    margin: 0 auto;
}

.articles-user {
    display: flex;
    justify-content: space-around;
}

.user-left {
    display: flex;
    align-items: center;
}

.user-name {
    margin: 0 10px;
    font-size: 1.6rem;
}

.name {

    font-weight: 700;
}

.btn-link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {

    border: solid #EAEAEA 1px;
    height: 44px;
    width: 100px;
    position: relative;
    text-align: center;

}

.fb {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tw {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn img {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn:hover {
    background-color: #EAEAEA;
}

.articles-content>p {
    font-size: 2rem;
    margin: 30px 0;
}

.articles-content h2 {
    font-size: 32px;
    font-weight: 700;
}

.articles-content>img {
    display: block;
    margin: 0px auto;
    width: min(854px, 100%);
}

figcaption {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
}

.articles-content-list {
    font-size: 2rem;

}

.articles-content-list li {
    margin-left: 20px;
    padding-top: 20px;
}

#articles-btn {
    width: 100%;
}

#articles-btn li {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}

#articles-tag {
    font-size: 1.6rem;
    font-weight: 500;
}

#articles-tag span {
    text-decoration: underline;
}

#articles-line {
    border-top: 2px dotted;

}

.articles-author {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.articles-author img {
    margin-right: 20px;
}

/* Line bottom */
.line-bottom {
    position: relative;
    margin: 70px auto;
    text-align: center;
}

.line-bottom img {
    position: absolute;
    top: -30px;
}

#bottom-hr {
    margin: 30px auto;
    height: 2px;
    color: #000000;
    background-color: #000000;
}

/* Gallaries */
.gallaries {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.gallaries>h1 {
    font-size: 4.4rem;
}

.gallaries p {
    max-width: 304px;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0 auto;
}

.gallaries-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: 50px;
}

.gallaries-item img {
    transition: 0.5s;
}

.gallaries-item img:hover {
    transform: scale(1.2);
}

/* Sign up form */
.signup-form {
    width: 40%;
    margin: 100px auto;
    text-align: center;
    border: #000000 solid 2px;
    border-top: #000000 solid 10px;
}

.signup-form form {}

.signup-form h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.signup-form p {
    font-size: 1.6rem;
    width: 90%;
    margin: 0 auto;
}

.form-input {
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 30px 0;
    font-size: 1.6rem;
}

.form-input input[type="text"] {
    width: 50%;
    border: #000000 solid 1px;
}

.form-input input[type="submit"] {
    width: 20%;
    background-color: #000000;
    color: #fff;

}

.form-input input[type="submit"]:hover {
    background-color: #636060;
    cursor: pointer;
}

/* footer */
.footer {
    background-color: #000000;
    color: white;
    text-align: center;
}

.footer h1 {
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;

    white-space: nowrap;

    width: 100%;
}

.footer img {
    margin-top: 100px;
}

.footer p {
    font-size: 1.6rem;
    font-weight: 400;
    width: 488px;
    margin: 30px auto;
}

.footer strong {
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 800;
}

#footer-first-strong {
    padding-left: 0;

}

.footer li {
    display: inline;
    font-size: 1.6rem;
    margin: 0 10px;
}

.footer a {
    color: white;
}

.footer-animated-text {
    display: inline-block;
    animation: slide 20s linear infinite;
    animation-delay: 0s;
}

.footer a:hover {
    color: yellow;
}

/* Animation */
@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* Responsive Mobile */
@media screen and (max-width:992px) {
    #navbar-mobile {
        display: block;
    }

    #navbar-desktop {
        display: none;
    }

    .gallaries {
        width: 100%;

    }

    .gallaries-image {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .gallaries-item {
        width: 100%;
    }
}